<!-- Rachelle Bass -->
<!-- Donovan Howe -->
<!-- CS 340, Introduction to Databases, web code -->
<!-- Project Title: studentsandtutors.edu -->
<!-- Project Group 29 -->

<!-- This .handlebars file contains html for the index page -->
<!-- See http://flip3.engr.oregonstate.edu:17771/codeReferences for a full list of references -->

<!DOCTYPE html>

<html>

	<head>
  		<meta charset="UTF-8">
  		<title>studentsandtutors.edu</title>
  		<link rel="stylesheet" href="../css/style.css" type="text/css">
 	</head>

 	<!-- Required for AJAX queries -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<body>

		{{{body}}}

	<a href="../codeReferences"><code>Code References</code></a>

 	</body>
</html>

