<!-- Rachelle Bass -->
<!-- Donovan Howe -->
<!-- CS 340, Introduction to Databases, web code -->
<!-- Project Title: studentsandtutors.edu -->
<!-- Project Group 29 -->

<!-- This .handlebars file contains html for the subjects page -->
<!-- See http://flip3.engr.oregonstate.edu:17771/codeReferences for a full list of references -->

<!DOCTYPE html>

<html>

	<head>
  		<meta charset="UTF-8">
  		<title>studentsandtutors.edu</title>
  		<link rel="stylesheet" href="../css/style.css" type="text/css">
 	</head>

	<header>
		<img class="logo" src="../images/studentsandtutors.png" width=500 height=100>

		<div id="navigationBar" class="navigationBar">
			<a class="navigationItem" href="../">Home</a>
			<a class="navigationItem" href="../students">Students</a>
			<a class="navigationItem" href="../tutors">Tutors</a>
			<a class="navigationItem" href="../subjects">Subjects</a>
			<a class="navigationItem" href="../appointments">Appointments</a>
		</div>
	</header>

	<p class="textBlock">
		<code>
				--------------<br>
				--References--<br>
				--------------<br><br>

				!! Note !! This code is heavily based on https://github.com/knightsamar/cs340_sample_nodejs_app<br>
				Additional syntax and comments also based on work from OSU CS 290, Web Development<br><br>

				1. OSU CS 340, Introduction to Databases, cs340_sample_nodejs_app<br>
				&emsp;# Date: Feb 14-20, 2021<br>
				&emsp;# Based on: https://github.com/knightsamar/cs340_sample_nodejs_app<br>
				2. OSU CS 340, Introduction to Databases "Learn using JavaScript and NodeJS"<br>
				&emsp;# Date: Feb 14, 2021<br>
				&emsp;# Based on: https://oregonstate.instructure.com/courses/1825733/pages/	learn-using-javascript-and-nodejs?module_item_id=20221781<br>
				3. OSU CS 290, Web Development, CS290-Server-Side-Examples<br>
				&emsp;# Date: Feb 14, 2021<br>
				&emsp;# Based on: https://github.com/wolfordj/CS290-Server-Side-Examples.git<br>
				4. OSU CS 290, Web Development, HW6: Database interactions and UI<br>
				&emsp;# Date: Feb 14, 2021<br>
				&emsp;# Based on: Homework submitted to https://oregonstate.instructure.com/<br>	courses/1784184/assignments/8082969/submissions/6341543?download=82524779<br>
				5. Express documentation<br>
				&emsp;# Date: Feb 19-20, 2021<br>
				&emsp;# http://expressjs.com/en/api.html<br>
				&emsp;# https://expressjs.com/en/starter/basic-routing.html<br>
				&emsp;# https://expressjs.com/en/guide/routing.html<br>
				6. MariaDB documentation<br>
				&emsp;# Date: Feb 20-21, 2021<br>
				&emsp;# https://mariadb.com/kb/en/get_format/<br>
				&emsp;# https://mariadb.com/kb/en/nodejs-connection-options/<br>
				&emsp;# https://mariadb.com/kb/en/ifnull/<br>
				&emsp;# https://mariadb.com/docs/reference/es/system-variables/foreign_key_checks/<br>
				7. Mozilla CSS documentation<br>
				&emsp;# Date: Feb 26, 2021<br>
				&emsp;# https://developer.mozilla.org/en-US/docs/Web/CSS/appearance<br>
				8. Mozilla HTML pattern documentation<br>
				&emsp;# Date: Feb 27, 2021<br>
				&emsp;# https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/pattern<br>
				8. Handlebars nested block reference<br>
				&emsp;# Date: Feb 26, 2021<br>
				&emsp;# https://handlebarsjs.com/guide/builtin-helpers.html#each<br>
			</code>
	</p>
</html>